{% extends 'components/lists.html' %}

{% block lists %}
    <h1>Overtime Record List</h1>
    <div class="d-flex justify-content-center">
        <a class="btn btn-success my-4" href="{% url 'overtime_record_create' %}">Create Overtime Record</a>
    </div>
    <div>
        <ul class="list-group">
        {% for overtime_record in object_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <div class="fw-bold">{{ overtime_record.name }}</div>
                    <div>{{ overtime_record.hours }}</div>
                </div>
                <span class="p-4">
                    <a class="btn btn-primary" href="{% url 'overtime_record_update' overtime_record.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'overtime_record_delete' overtime_record.id %}">Delete</a>
                </span>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}