{% extends 'components/form.html' %}
{% load widget_tweaks %}

{% block form_fields %}
    {% csrf_token %}
    <div class="form-outline mb-4">
        <h1 class="text-center">Over Time Record</h1>
        <label class="form-label mt-5">Reason:</label>
        {{ form.reason|attr:"class:form-control" }}
        <label class="form-label mt-4">Employee:</label>
        {{ form.employee|attr:"class:form-control" }}
        <label class="form-label mt-4">Hours:</label>
        {{ form.hours|attr:"class:form-control" }}
    </div>
{% endblock %}