{% extends 'base.html' %}

{% block main %}
    <div class="col-lg-6 mb-5 mb-lg-0 section">
        <div class="card">
            <div class="card-body py-5 px-md-5">
                <form method="post">
                    {% csrf_token %}
                    <h4 class="pb-5">Are you sure you want to delete <br>
                        <span class="fw-bold">
                            "{{ object }}"
                        </span>?
                    </h4>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="btn btn-primary me-2">
                            Yes, I am sure
                        </button>
                        <a href="{% url 'home' %}" class="btn btn-danger">
                            Cancel
                        </a>
                    </div>   
                </form>
            </div>
        </div>
    </div>
{% endblock %}