<style>
.navbar {
  position: fixed;
  z-index: 1000;
}

.navbar .nav-link:hover {
  text-decoration: underline !important;
}

.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}
</style>

<nav class="navbar navbar-expand-lg bg-primary-color w-100 section">
  <a style="font-weight: bold;" class="navbar-brand text-secondary-color" href="{% url 'home' %}">Django Staff</a>
  <button class="navbar-toggler text-secondary-color" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ms-auto">
      <a class="nav-link text-secondary-color" href="#aboutUs">About Us</a>
      <a class="nav-link text-secondary-color" href="#testimonials">Testimonials</a>
      <a class="nav-link text-secondary-color" href="#contactUs">Contact Us</a>
      <a href="{% url 'login' %}">
        <button type="button" class="btn btn-outline-light btn">
          Login
        </button>
      </a>
    </div>
  </div>
</nav>