<style>
  .navbar {
    background-color: #1245a8 !important;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .navbar .navbar-brand {
    color: white !important;
    font-weight: bold !important;
  }

  .navbar .nav-link {
    color: white !important;
    font-weight: bold !important;
  }

  .navbar .nav-link:hover {
    text-decoration: underline !important;
  }

  @media (max-width: 991px) {
    .navbar {
      padding-left: 0;
      padding-right: 0;
    }
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Django Staff</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link" href="#aboutUs">About Us</a>
      <a class="nav-link" href="testimonials">Testimonials</a>
      <a class="nav-link" href="pricing">Pricing</a>
      <a class="nav-link" href="contactUs">Contact Us</a>
    </div>
  </div>
</nav>