{% extends 'components/form.html' %}
{% load widget_tweaks %}

{% block form_fields %}
    {% csrf_token %}
    <div class="form-outline mb-4">
        <h1 class="text-center">Employee</h1>
        <label class="form-label mt-5">Name:</label>
        {{ form.name|attr:"class:form-control" }}
        <label class="form-label mt-5">Department:</label>
        {{ form.department|attr:"class:form-control" }}
    </div>

    {% if object %}
        <div class="d-flex justify-content-center">
            <a href="{% url 'document_create' object.id %}" class="btn btn-success">
                Add Document
            </a>
        </div>
    {% endif %}

    {% for document in object.document_set.all %}
        <button>
            <a href="{{ document.file.url }}">
                {{ document }}
            </a>
        </button>
    {% endfor %}
{% endblock %}