{% extends 'components/lists.html' %}

{% block lists %}
    <h1>Employee List</h1>
    <div class="d-flex justify-content-center">
        <a class="btn btn-success my-4" href="{% url 'employee_create' %}">Create Employee</a>
    </div>
    <div>
        <ul class="list-group">
        {% for employee in object_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <div class="fw-bold">{{ employee.name }}</div>
                    <div>{{ employee.company }}</div>
                </div>
                <span class="p-4">
                    <a class="btn btn-primary" href="{% url 'employee_update' employee.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'employee_delete' employee.id %}">Delete</a>
                </span>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}