{% extends 'components/form.html' %}
{% load widget_tweaks %}

{% block form_fields %}
    {% csrf_token %}
    <div class="row">
        {% if object %}
            <div class="col-6 form-outline mb-4">
        {% else %}
            <div class="form-outline mb-4">
        {% endif %}
            <h1 class="text-center">Employee</h1>
            <label class="form-label mt-5">Name:</label>
            {{ form.name|attr:"class:form-control" }}
            <label class="form-label mt-5">Department:</label>
            {{ form.department|attr:"class:form-control" }}
        </div>
        {% if object %}
            <div class="col-6">
                <div class="d-flex justify-content-center">
                    <a href="{% url 'document_create' object.id %}" class="btn btn-success">
                        Add Document
                    </a>
                </div>
                <div class="mt-4 text-center">
                    <h2>Documents</h2>
                    {% for document in object.document_set.all %}
                        <a class="btn btn-primary mb-2" href="{{ document.file.url }}">
                            {{ document }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if object %}
        <div class="col-12">
            <div class="mt-4 text-center">
                <h2>Overtime Records</h2>
                <ul>
                    {% for record in object.overtimerecord_set.all %}
                    <li>
                        {{ record.reason }} | {{ record.hours }} Hours
                    </li>
                    {% endfor %}
                </ul>
                <h5>Total Overtime Records: {{object.total_overtime_record}} Hours</h5>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}